div.graph-area {
  width: 60%;
  height: 500px;
  margin: 0 auto;
}
div.graph-sub-area {
  width: 25%;
  float: left;
}
.axis {
  text {
    font-size: 12px;
  }
  &:not(.lh-x) {
    line {
      fill: none;
      opacity: .7;
      stroke: #cccccc;
    }
  }
}
.chart-anim {
  rect {
    transition: 1s;
    transition-timing-function: ease-in-out;
  }
}
